h1 {
    text-align: center;
    padding: 2rem;
    font-size: 30px;
    /* background-color: rebeccapurple; */
}

h4 {
    text-align: center;
    padding-bottom: 2rem;
}

section {
    margin: 3rem 0;
    /* background-color: gray; */
}

section:last-child {
    max-width: 1000px;
    margin: 5rem auto;
}

/* ******************************************************* */
/* **********   SECCION DE CARD's INTEGRANTES   ********** */
/* ******************************************************* */

.cards_integrantes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card_integrante {
    box-shadow: 4px 4px 8px #cfcfcf;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 3rem;
    width: min(550px, 100%);
    min-height: 300px;
    /* height: auto; */
    /* min-width: 600px;    */

    display: inline-flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    justify-content: space-around;
    align-items: center;
}

.card_integrante > * {
    display: inline-block;
    width: min(450px, 100%);
}

.card_integrante__avatar {
    display: inline;
    width: min(200px, 100%);
    height: 90%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.card_integrante__avatar > img {
    max-width: 100%;
    max-height: 100%;
}

.card_integrante__info {
    padding: 1rem;
    /* width: 100%; */
}

.card_integrante__info > * {
    margin: 0;
    margin-bottom: 1rem;
    
    display: flex;
    flex-wrap: wrap;
}

.card_integrante__info > h3 {
    margin-bottom: 1rem;
}   

.card_integrante__info > * > :nth-child(2) {
    font-size: 14px;
    list-style: none;
    margin-left: 1rem;
    font-family: var(--font-family);
}

.card_integrante__info > button {
    height: 40px;
    border-radius: 10px;
    /* outline: none; */
    margin-top: 2rem;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: var(--button-color);
    padding: 0 3rem;

    display: flex;
    align-items: center;
}

.card_integrante__info > button:hover {
    filter: brightness(1.1);
}

.card_integrante__info > button:active {
    filter: brightness(1.2);
}



/* ******************************************************* */
/* ***************   SECCION DE CONTACTO   *************** */
/* ******************************************************* */




/* ******************************************************* */
/* *****************   SECCION DE MODAL   **************** */
/* ******************************************************* */
.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #33333366;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 80vw;
    height: 100vh;
    border: 3px solid white;
    background-color: #fff;
    /* border-radius: 5px; */
    padding: 3rem 2rem;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
}

.modal > *:not(.modal__exit, h2, h3, h4, h5, h6) {
    /* border: 1px solid black; */
    margin-bottom: 2rem;
    max-width: 600px;
}

.modal__exit {
    padding: 0.2rem;
    width: 40px;
    height: 40px;
    border: 1px solid #a4a4a4;
    font-size: 22px;
    border-radius: 100%;
    font-weight: bold;
    font-family: helvetica;
    color: #444;
    background-color: #fff;
    /* box-shadow: 2px 2px 4px #c9c9c9, -2px -2px 4px #c9c9c9; */
    cursor: pointer;

    position: fixed;
    right: 20px;
    top: 5px;
}

.modal__container_foto {
    /* width: min(80%, 300px); */
    /* aspect-ratio: 2/1; */
    /* height: 100px; */
    /* border-radius: 100%; */
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
}

.modal__container_foto img {
    width: min(80%, 300px);
    /* height: 100%; */
    border-radius: 100%;
    padding: 1rem;
    box-shadow: 4px 4px 8px #d7d7d7;
}

.modal__container_correos > li {
    word-break: break-all;
}

.modal__container_proyectos,
.modal__container_articulos {
    padding: 1rem 0;
}

.modal__container_proyectos > li ,
.modal__container_articulos > li {
    /* background-color: royalblue; */
    margin-bottom: 0.5rem;
}