h1 {
    text-align: center;
    padding: 2rem;
    font-size: 30px;
}

h4 {
    text-align: center;
    padding-bottom: 2rem;
}

section {
    margin: 3rem 0;
}

section:last-child {
    max-width: 1000px;
    margin: 5rem auto;
}

/* ******************************************************* */
/* **********   SECCION DE CARD's INTEGRANTES   ********** */
/* ******************************************************* */

.cards_integrantes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card_integrante {
    box-shadow: 4px 4px 8px #cfcfcf;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 3rem;
    width: min(550px, 100%);
    min-height: 300px;

    display: inline-flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.card_integrante > * {
    display: inline-block;
    width: min(450px, 100%);
}

.card_integrante__avatar {
    display: inline;
    width: min(200px, 100%);
    height: 90%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.card_integrante__avatar > img {
    max-width: 100%;
    max-height: 100%;
}

.card_integrante__info {
    padding: 1rem;
}

.card_integrante__info > p:first-of-type {
    color: #858585;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.card_integrante__info > p:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    color: #636363;
}

.card_integrante__info > ul {
    /* background-color: rebeccapurple; */
    margin: 1rem 0;
}

.card_integrante__info > ul > li {
    list-style: none;
    font-size: 12px;
}

.card_integrante__info > button {
    height: 40px;
    border-radius: 10px;
    margin-top: 2rem;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: var(--button-color);
    padding: 0 3rem;

    display: flex;
    align-items: center;
}

.card_integrante__info > button:hover {
    filter: brightness(1.1);
}

.card_integrante__info > button:active {
    filter: brightness(1.2);
}



/* ******************************************************* */
/* ***************   SECCION DE CONTACTO   *************** */
/* ******************************************************* */




/* ******************************************************* */
/* *****************   SECCION DE MODAL   **************** */
/* ******************************************************* */
.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #33333366;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 80vw;
    height: 100vh;
    border: 3px solid white;
    background-color: #fff;
    padding: 3rem 2rem;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
}

.modal > *:not(.modal__exit, h2, h3, h4, h5, h6) {
    margin-bottom: 3rem;
    max-width: 600px;
}

.modal__exit {
    padding: 0.2rem;
    width: 40px;
    height: 40px;
    border: 1px solid #a4a4a4;
    font-size: 22px;
    border-radius: 100%;
    font-weight: bold;
    font-family: helvetica;
    color: #444;
    background-color: #fff;
    cursor: pointer;

    position: fixed;
    right: 20px;
    top: 5px;
}

.modal__container_foto {
    display: flex;
    justify-content: center;
}

.modal__container_foto img {
    width: min(80%, 300px);
    border-radius: 100%;
    padding: 1rem;
    box-shadow: 4px 4px 8px #d7d7d7;
}

.modal__container_correos > li {
    word-break: break-all;
}

.modal__container_proyectos,
.modal__container_articulos {
    padding: 1rem 0;
}

.modal__container_proyectos > li ,
.modal__container_articulos > li {
    margin-bottom: 0.5rem;
}

.modal__container_produccion_academica > li {
    /* background-color: rgba(102, 51, 153, 0.335); */
    text-align: center;
    margin: 2rem 0;
    text-align: left;
    list-style: none;
    font-weight: 600;
}

.modal__container_produccion_academica > li > ul {
    /* background-color: rgb(255, 166, 0); */
    max-width: 90%;
    margin: 0 auto;
}

.modal__container_produccion_academica > li > ul > li {
    /* background-color: rgba(0, 0, 255, 0.309); */
    margin: 1rem auto;
    word-break: break-all;
}