/* ********************************************** */
/* **********   SECCIÓN DE ARTÍCULO   ********** */
/* ********************************************** */

.cards_articulos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card_articulo {
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 4px 4px 8px #cfcfcf;
    max-width: 600px;
    margin-bottom: 3rem;
}

.card_articulo > span {
    display: block;
    padding: 3px;
    margin-bottom: 1rem;
}

.card_articulo > span > *:first-child {
    /* background-color: rebeccapurple; */
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.card_articulo > span > *:nth-child(2) {
    display: inline-block;
    text-align: justify;
}

/* .card_articulo > * {
    margin: 0;
    margin-bottom: 2rem;
} */

/* ////////////////////////////// */

.card_articulo > button {
    height: 40px;
    border-radius: 10px;
    /* outline: none; */
    margin-top: 2rem;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: var(--button-color);
    padding: 0 3rem;

    display: flex;
    align-items: center;
}

.card_articulo > button:hover {
    filter: brightness(1.1);
}

.card_articulo > button:active {
    filter: brightness(1.2);
}

/* ******************************************************* */
/* *****************   SECCION DE MODAL   **************** */
/* ******************************************************* */
.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #33333366;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 80vw;
    height: 100vh;
    border: 3px solid white;
    background-color: #fff;
    padding: 3rem 2rem;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
}

.modal > *:not(.modal__exit) {
    max-width: min(800px, 100%);
}

.modal__exit {
    padding: 0.2rem;
    width: 40px;
    height: 40px;
    border: 1px solid #a4a4a4;
    font-size: 22px;
    border-radius: 100%;
    font-weight: bold;
    font-family: helvetica;
    color: #444;
    background-color: #fff;
    cursor: pointer;

    position: fixed;
    right: 20px;
    top: 5px;
}

.modal > h2 {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}

.modal > h3 {
    text-align: center;
}

.modal > p,
.modal > ul,
.modal > a {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: inline-block !important;
    width: fit-content;
}

.modal > a {
    word-break: break-all;
}

.modal > ul > li {
    margin-bottom: 0.5rem;
}

.modal__pdf_container {
    min-height: 700px !important;
    min-width: 80%;
}