* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 2rem 3rem;
    min-height: 60vh;
}

h1, 
h2,
h3, 
h4,
footer, 
nav {
    font-family: var(--title-font-family);
    color: var(--title-font-color);
    font-family: var(--font-family);
    font-size: var(--title-font-size);
}

main h1,
main h2,
main h3,
main h4,
footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    font-family: var(--font-family);
    color: var(--paragraph-font-color);
    font-size: var(--paragraph-font-size);
}

email {
    word-break: break-all;
}