:root {
    --backcolor-nav: #fff;
    
    --primary-color: #fff;
    --secondary-color: #004E94;

    --button-color: #2d88d7;

    --font-family: Arial, sans-serif;
    
    --title-font-color: #333;
    --title-font-size: 18px;

    --paragraph-font-color: #4a4a4a;
    --paragraph-font-size: 16px;

}